* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}
.banner {
  height: 100vh;
  width: 100%;
  background: url("components/bgImg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner-content {
  display: flex;
  align-items: center;
  height: 100vh;
  color: whitesmoke;
}
.container {
  width: 1200px;
  max-width: 1200px;
  margin: auto;
}
.banner_text {
  width: 40%;
}
.banner_text h1 {
  margin-top: 20px;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.banner_text p {
  font-size: 25px;
  font-weight: 500;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.navbar_text {
  display: flex;
  height: 110px;
  align-items: center;
  width: 1200px;
  margin: 0 auto;
}
.logo {
  width: 30%;
}
.logo img {
  width: 100px;
}
.navbar ul {
  width: 70%;
  list-style-type: none;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}
.navbar_ul li a {
  text-decoration: none;
  color: whitesmoke;
  padding: 0 15px;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
.banner_btn {
  margin-top: 38px;
}
.btn {
  text-decoration: none;
  outline: none;
  color: whitesmoke;
  font-weight: 700;
  border-radius: 30px;
  font-size: 12px;
  padding: 20px 40px;
}

.btn-smart {
  background: #552f10;
}
.about {
  padding: 80px 0px;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col-6 {
  width: 50%;
}
.about h3 {
  font-size: 30px;
  color: rgba(37, 37, 37, 0.7);
  margin-bottom: 12px;
  font-weight: 700;
}
.p-25 {
  padding: 45px;
}

.about h1 {
  font-size: 40px;
  color: #252525;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 15px;
}
.about p {
  font-size: 18px;
  color: #8b8b8b;
  font-weight: 350;
}
.about_btn {
  margin-top: 40px;
}
.about_img {
  width: 100%;
  overflow: hidden;
}
.about_img img {
  width: 100%;
}
#read-more{
  display: none;
}
.shop {
  width: 100%;
  background: url("./components/bgImg3.jpg");
  height: 500px;
  background-attachment: fixed;
  background-size: cover;
}
.shop_text {
  height: 500px;
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: center;
  margin: 0 auto;
  color: white;
}
.shop_text h1 {
  font-size: 40px;
  line-height: 65px;
  font-weight: 700;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  letter-spacing: 0.5px;
  color: whitesmoke;
}
.shop_btn {
  margin-top: 40px;
  margin-left: 50px;
}
.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.333333333%;
}

.clients {
  width: 100%;
  padding: 80px 0;
  background-color: #252525;
}
.client {
  border: 2px solid white;
  width: 200px;
  padding: 15px 60px;
  color: silver;
  box-shadow: 4px 3px 5px;
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.client h1 {
  font-size: 40px;
}
.prices {
  width: 100%;
  padding: 80px 0px;
}
.price {
  padding: 20px;
}
.price_img {
  width: 100%;
}
.price_img img {
  width: 250px;
}
.price_heading {
  margin-top: 25px;
  font-size: 30px;
  /* justify-content: center; */
  /* text-align: center; */
}
.price_text {
  /* text-align: center; */
  margin-top: 15px;
  color: #8b8b8b;
  font-weight: 300;
  font-size: 18px;
}
.price_rs {
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 30px;
  /* text-align: center;   */
}

@media (max-width: 700px) {
  .navbar_text {
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }
  .logo {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .container {
    width: 100%;
    padding: 0 30px;
  }
  .banner_text {
    width: auto;
  }
  .banner_text h3{
    font-size: 25px !important;
  }

  .banner_text h1 {
    margin-top: 20px;
    color: whitesmoke;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
      font-size: 50px;
  }

  .banner_text p {
    font-size: 25px;
    font-weight: 500;
  }
  .col-3
  .col-4
  .col-6{
    width: 100%;
  }
  .client{
    margin:20px 0px ;
  }
}
.container-1{
  /* border: 2px solid red; */
  display:block;
  float: right;
  width: 40%;
  text-align: center;
  margin-top: 100px;
  height: 65vh;
  border-radius: 15px;
  overflow: auto;
  margin-top: 7px;
}
.form{
  display: block;
  /* border: 2px solid black; */
}
.form label{
  font-size: 25px;
  font-weight: 700;
  /* line-height: 50px; */
  
}
.form input{
margin-top: px;
margin-bottom: 50px;
width: 40%;
height: 5.3vh;
padding: 4px 4px ;
font-size: large;
font-family:'Arial, Helvetica, sans-serif';
opacity: 1;
border-radius: 9px;
background-color: #48514c;
box-shadow: 2px 2px 0.5;
user-select: none;
outline: none;
color: silver;

}
input[type=text] {
  width: 150px;
  -webkit-transition: width .35s ease-in-out;
  transition: width .35s ease-in-out;
}
input[type=text]:focus {
  width: 300px;
}
.btn{
  margin-top: 15px;
  height: 35px;
  width: 20%;
  font-weight: 700;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.textarea{
  padding: 4px 4px;
  font-size: large;
  font-family: 'Arial, Helvetica, sans-serif';
  border-radius: 9px;
  background-color: #48514c;
  outline: none;
}
::placeholder{
  opacity: 0.3;
}

#order-now{
  width: 200px;
  padding: 5px;
  height: 65px;
  border-radius: 40px;
  font-size: 20px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #393a40;
  font-weight: 700;


}
#order-now-link{
  text-decoration: none;
  color: whitesmoke;

  
}
.main-container-form{
  height: 100vh;
  width: 100%;
  background-image: url('/src/components/form/form-img.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  color: silver;
  font-size: x-large; 
}
#form-heading{
  /* border: 2px solid red; */
  /* float: right; */
  margin-bottom: 15px;
  display: flex;
  justify-content: end;
  margin-bottom: 10px;
  margin-right: 15px;
}
.button {
  border-radius: 4px;
  background-color:#393a40;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 15px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

